.link-wrap {
  padding-block: 4rem;
}
.link-content {
  display: flex;
  justify-content: center;
}
.spoitfy-card {
  position: absolute;
  margin-top: 6rem;
  width: 174.93px;
  height: 174.93px;
  background-color: var(--text-color-secondary);
  transform: rotate(3.83deg);
  border-radius: 21.87px;
  color: var(--background-color-secondary);

  padding-left: 20px;
  img {
    width: 53px;
    height: 43px;
    margin-top: 1rem;
  }
  h4 {
    font-size: 14px;
    padding-block: 0.5rem;
    color: var(--background-color-secondary);
  }
  p {
    font-size: 12px;
  }
}
.dark_spo {
  h4 {
    color: rgba(0, 0, 0, 1);
  }
}
.link-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.link-main {
  text-align: center;
  h1 {
    font-size: 48px;
    font-weight: 700;
  }
  h4 {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
  }
}

.biglink {
  width: 740px;
  height: 156px;
  margin-block: 4rem;
  border-radius: 24px;
  background-color: var(--background-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 36px;
    font-weight: 400;
  }
  ul {
    padding-left: 1rem;

    li:nth-child(odd) {
      color: var(--primary-color);
      font-size: 32px;
    }
    li:nth-child(even) {
      color: var(--text-color-secondary);
      font-size: 40px;
    }
  }
}
.unique-btn {
  width: 192px;
}
.qoute-card {
  position: absolute;
  justify-content: center;
  display: flex;
  align-content: center;
  width: 174.93px;
  height: 174.93px;
  margin-top: -10rem;
  right: 0;
  margin-right: 5rem !important;
  text-align: center;
  transform: rotate(-9.83deg);
  border-radius: 21.87px;
  background-color: var(--primary-color);

  h6 {
    padding-inline: 2rem;
    padding-top: 2rem;
    font-weight: 400;
    font-size: 16.2px;
  }
}
@media only screen and (max-width: 768px) {
  .link-main {
    h1 {
      font-size: 40px;
    }
  }
  .spoitfy-card {
    position: absolute;
    margin-top: 20rem;
  }
  .qoute-card {
    position: absolute;
    margin-top: -5rem;
  }
  .biglink {
    width: 700px;
    height: 156px;
  }
}

@media only screen and (max-width: 425px) {
  .biglink {
    width: 300px;
    height: 106px;

    p {
      font-size: 20px;
      font-weight: 400;
    }
    ul {
      padding-left: 0rem;

      li:nth-child(odd) {
        color: var(--primary-color);
        font-size: 20px;
      }
      li:nth-child(even) {
        color: var(--text-color-secondary);
        font-size: 20px;
      }
    }
  }
  .link-main {
    text-align: center;
    h1 {
      font-size: 28px;
    }
    h4 {
      padding-top: 10px;
      font-size: 17px !important;
    }
  }
  .link-wrap {
    padding-top: 4rem;
    padding-bottom: 18rem;
  }
  .qoute-card {
    margin-top: -5rem;

    width: 174.93px;
    height: 174.93px;
  }
  .spoitfy-card {
    position: absolute;
    margin-top: 33rem;
    margin-left: 3rem;
  }
}
